.body
{
	
}

.uper
{
	background-color: #ec7b04;
}

.downer
{
	background-color: #fbe1c6;
}

.login
{
	background-color: #FFFFFF;
	margin-left: 270px;
	margin-right: 270px;
}

.pro-shad
{
	color: #f4bc79;
	font-family: Tahoma;
	direction: rtl;
}

.sucs
{
	color: #2eb774;
}
